In [56]:
import pandas as pd

In [57]:
df = pd.read_csv('macroeconomic_news_news_USD_pair_EURUSD_2007_2018.csv')

In [58]:
df.head(2)

,actual,country,datetime,forecast,forecast_error,impact,new,previous,previous_error,week,...,pips_candle_240_before,previous_value,previous_error_ratio,total_error_ratio,forecast_error_ratio_mean,forecast_error_ratio_std,forecast_error_ratio_zscore,total_error_ratio_mean,total_error_ratio_std,total_error_ratio_zscore
0,12.3B,USD,2007-01-08 15:00:00,5.4B,better,Low,Consumer Credit m/m,-1.3B,accurate,2,...,1.0,-1.3B,0.00,127.78,127.780,1.00000,0.000000,127.780,1.000000,0.000000
1,6.0B,USD,2007-02-07 15:00:00,7.0B,worse,Low,Consumer Credit m/m,13.7B,better,6,...,0.0,12.3B,11.38,-2.91,56.745,100.45866,-0.707107,62.435,92.411785,-0.707107

In [59]:
df_temp = df[df['datetime'] == '2018-10-25 08:30:00']

In [60]:
df_temp[['new','datetime', 'datetime_gmt','close_released', 'close_5_before', 'close_10_before', 'close_15_before', 'close_30_before', 'close_45_before', 'close_60_before', 
         'close_90_before', 'close_120_before', 'close_150_before','close_180_before']]

,new,datetime,datetime_gmt,close_released,close_5_before,close_10_before,close_15_before,close_30_before,close_45_before,close_60_before,close_90_before,close_120_before,close_150_before,close_180_before
1799,Unemployment Claims,2018-10-25 08:30:00,2018-10-25 12:30:00+00:00,11415,11415,11416,11415,11415.0,11413.0,11409.0,11412.0,11405.0,11411.0,11408.0
5539,Core Durable Goods Orders m/m,2018-10-25 08:30:00,2018-10-25 12:30:00+00:00,11415,11415,11416,11415,11415.0,11413.0,11409.0,11412.0,11405.0,11411.0,11408.0
5681,Durable Goods Orders m/m,2018-10-25 08:30:00,2018-10-25 12:30:00+00:00,11415,11415,11416,11415,11415.0,11413.0,11409.0,11412.0,11405.0,11411.0,11408.0
9639,Goods Trade Balance,2018-10-25 08:30:00,2018-10-25 12:30:00+00:00,11415,11415,11416,11415,11415.0,11413.0,11409.0,11412.0,11405.0,11411.0,11408.0
9666,Prelim Wholesale Inventories m/m,2018-10-25 08:30:00,2018-10-25 12:30:00+00:00,11415,11415,11416,11415,11415.0,11413.0,11409.0,11412.0,11405.0,11411.0,11408.0

In [61]:
df_temp[['new','datetime', 'datetime_gmt','close_released', 'close_5_after', 'close_10_after', 'close_15_after', 'close_30_after', 'close_45_after', 'close_60_after', 
         'close_90_after', 'close_120_after', 'close_150_after','close_180_after']]

,new,datetime,datetime_gmt,close_released,close_5_after,close_10_after,close_15_after,close_30_after,close_45_after,close_60_after,close_90_after,close_120_after,close_150_after,close_180_after
1799,Unemployment Claims,2018-10-25 08:30:00,2018-10-25 12:30:00+00:00,11415,11418,11422,11411,11427.0,11414.0,11385.0,11379.0,11383.0,11376.0,11374.0
5539,Core Durable Goods Orders m/m,2018-10-25 08:30:00,2018-10-25 12:30:00+00:00,11415,11418,11422,11411,11427.0,11414.0,11385.0,11379.0,11383.0,11376.0,11374.0
5681,Durable Goods Orders m/m,2018-10-25 08:30:00,2018-10-25 12:30:00+00:00,11415,11418,11422,11411,11427.0,11414.0,11385.0,11379.0,11383.0,11376.0,11374.0
9639,Goods Trade Balance,2018-10-25 08:30:00,2018-10-25 12:30:00+00:00,11415,11418,11422,11411,11427.0,11414.0,11385.0,11379.0,11383.0,11376.0,11374.0
9666,Prelim Wholesale Inventories m/m,2018-10-25 08:30:00,2018-10-25 12:30:00+00:00,11415,11418,11422,11411,11427.0,11414.0,11385.0,11379.0,11383.0,11376.0,11374.0